# Python
__pycache__/
*.py[cod]
*.pyc
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
node_modules/
# Virtual environments
venv/
.venv/
env/
.env

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# IDE
.vscode/
.idea/

# Environment variables
.env
output/script_20251215_163919.txt
output/script_20251215_165238.txt
output/script_20251215_171412.txt
output/script_20251215_173200.txt
output/voiceover_20251215_163919.mp3
output/voiceover_20251215_165238.mp3
output/voiceover_20251215_171412.mp3
